<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/Bootstrap.php" backupGlobals="false"
		 colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./src/Includes</directory>
			<directory suffix=".php">./src/Public</directory>
			<directory suffix=".php">./src/Admin</directory>
		</include>
		<exclude>
			<directory>./src/*/js</directory>
			<directory>./src/*/css</directory>
			<directory>./src/*/images</directory>
		</exclude>
	</coverage>
	<testsuites>
		<testsuite name="wp-accountancy">
			<directory prefix="Test_" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
