/**
 * The styles sheet.
 *
 * @since      1.0.0
 *
 * @package    WP-Accountancy
 * @subpackage WP-Accountancy/Public
 */

:root {
	--head: 3rem;
}

div.wpacc-container * {
	font-size: small;
}

/*
 * The layout.
 */
div.wpacc-container {
	display: grid;
	gap: 1rem 1rem;
	grid-template-columns: [left] 20% [right] 80%;
	grid-template-rows: [head] var(--head) [main] auto;
}

div.wpacc-head {
	background-color: #555;
	color: white;
	/*font-size: large;*/
	grid-column: right;
	grid-row: head;
	text-align: center;
}

div.wpacc-main {
	grid-column: right;
	grid-row: main;
}

div.wpacc-menu {
	display: block;
	grid-column: left;
	grid-row: main;
}

@media screen and (max-width: 600px) {
	div.wpacc-container {
		grid-template-columns: 1fr;
	}

	div.wpacc-head {
		grid-column: 1;
	}

	div.wpacc-main {
		grid-column: 1;
	}

	div.wpacc-menu {
		grid-column: unset;
	}
}

/*
 * Tables
 */
table.wpacc {
	border-style: none;
	table-layout: auto;
	width: 100%;
}

table.wpacc a:hover {
	cursor: pointer;
}

table.wpacc tbody tr:nth-child(odd) {
	background-color: #f2f2f2;
}

table.wpacc td,
table.wpacc th {
	border-style: none;
	font-weight: normal;
}

/*
 * Navigation
 */
nav.wpacc-menu ul {
	background-color: #f1f1f1;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav.wpacc-menu li a {
	color: #000;
	display: block;
	padding: 8px 16px;
	text-decoration: none;
}

nav.wpacc-menu li a:hover {
	background-color: #555;
	color: white;
	cursor: pointer;
}

button.wpacc-menu-dropdown {
	display: none;
	height: var(--head);
}

@media screen and (max-width: 600px) {
	button.wpacc-menu-dropdown {
		display: inline-block;
		float: right;
	}

	nav.wpacc-menu ul {
		background-color: white;
		display: none;
		position: absolute;
		right: 0;
		z-index: 999;
	}

	nav.wpacc-menu ul li {
		display: block;
		float: none;
		padding-right: 15px;
		position: relative;
		right: 0;
		text-align: right;
	}
}

/**
 * The business link
 */
a.wpacc-business {
	color: white;
	line-height: var(--head);
	padding: 0 10px;
}

a.wpacc-business,
a.wpacc-business:link,
a.wpacc-business:visited,
a.wpacc-business:hover,
a.wpacc-business:active {
	box-shadow: none;
	text-decoration: none;
}

a.wpacc-business:hover {
	cursor: pointer;
	display: inline-block;
	outline: solid white;
}

/*
 * Forms
 */
form.wpacc-form {
	background-color: #fff;
	color: #444;
	margin: 0;
	padding: 0;
}

form.wpacc-form label {
	display: block;
}

form.wpacc-form p {
	margin: 0;
}

form.wpacc-form select {
	max-width: 10em;
}

form.wpacc-form input[type=number] {
	width: 5em;
}

.wpacc-error {
	background-color: lightsalmon;
	border-left: 6px solid indianred;
	padding-left: 10px;
}

.wpacc-success {
	background-color: limegreen;
	border-left: 6px solid green;
	padding-left: 10px;
}

.wpacc-inform {
	background-color: lemonchiffon;
	border-left: 6px solid gold;
	padding-left: 10px;
}

.wpacc-btn {
	background: #f9f9f9 linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	border: 1px solid #dcdcdc;
	border-radius: 6px;
	box-shadow: inset 0 1px 0 0 #fff;
	color: #666;
	cursor: pointer;
	display: inline-block;
	/*font-size: medium;*/
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
}

.wpacc-btn:hover {
	background: #e9e9e9 linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
}

.wpacc-btn:active {
	position: relative;
	top: 1px;
}

.wpacc-btn-save {
	color: green;
}

.wpacc-btn-delete {
	color: red;
}

.wpacc-title {
	color: #666;
	border: 1px solid #666;
	border-radius: 6px;
	float: left;
	font-size: medium;
	padding: 0 6px;
}
